.dots__bar {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0;
    /* background: rgba(255, 255, 255, 0.3); */
    border-radius: 40px;
    /* width: 100px; */
    text-align: center;
  }
  
  .dots__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
  }
  
  .dots__bar li button {
    border: none;
    background: #fff;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .dots__bar li.slick-active button {
    background-color: var(--orange-color);
  }
  
  .dots__bar li button:hover,
  .dots__bar li button:focus {
    background: var(--background-color);
    outline: 0;
  }