@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --main-width: 1100px;
  --orange-color: #eda221;
  --gray-color: #17262b;
  --linear-bg: linear-gradient(
    90deg,
    rgba(186, 150, 34, 1) 0%,
    rgba(125, 102, 27, 1) 59%
  );
  --max-width: 1100px;
}
